<h3>아이디 : <%= @user.user_id %></h3>
<p>( Last login at : <%=@user.ip_address %> )</p>
<hr/>
<p> 이 유저가 작성한 글 </p>
<% @user.posts.each do |post| %>
    <%= link_to post.title , "/board/#{post.id}" %> <br/>
<% end %>
<hr/>
<%= link_to "회원 정보 수정","/user/#{@user.id}/edit" %>
